<!DOCTYPE html>
{%load staticfiles%}
{%load countries%}
<html lang="en">
<head>
<title>Admin</title>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css' %}">
<!--===============================================================================================-->

<style>
#create {
    float: left;
    width: 50%;
    border-style: dotted;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
}

#disp {
    float:left;
    width: 50%;
    border-style: dotted;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
}

#bot {
    width: 30%;
    height: 50px;
}

#but {
    width: 30%;
}

#sel {
    width: 50%;
}

#txt {
    width: 50%;
}

table {
    width: 90%;
}

td,th {
    width: 300px;
    text-align: center;
    padding: 3px;
}

#error {
		height:100%;
		width: 100%;
		display: flex;
    	justify-content: center;
		flex-direction: column;
		background-color: crimson;
		color: cornsilk;
	}

</style>

</head>

<body>
    {% if loggeduser.accountType == "Admin" %}
    <br>
    <center><b><h1>Welcome, Admin!</h1></b></center>
    <br>
    <form method="POST">
        <div id="create">
                {% csrf_token %}
                {%if message != ""%}
                <center><h2 style= "color: #D8000C; background-color: #FFD2D2;vertical-align:middle;"class="p-b-30 p-t-10">USERNAME ALREADY TAKEN</h2></center>
                {%endif%}
            <br>
            <center>
            <h4>Create an Account:</h4>
            <br>
            <label>Account Type:</label>
            <br>
            <select id="sel" name="accountType">
                <option value="Product Manager">Product Manager</option>
                <option value="Accounting Manager">Accounting Manager</option>
            </select>
            <br>
            <br>
            {% for field in form %}
            <div>
                <label>{{field.label_tag}}</label>
                <div id="txt" class="bo4 of-hidden size02 m-b-20">{{field}}</div>
            </div>
            {% endfor %}

            <input id="but" type="submit" value="Create Account" style="cursor:pointer; "class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
        </center>
        <br>
        </div>
        <div id="disp">
            <center>
                <h4>Existing Accounts:</h4>
                <br>
                <table border=1>
                <tr>
                    <th>Username</th>
                    <th>Account Type</th>
                </tr>
                {% for i in all_users %}
                {% if i.accountType != "Customer" and i.accountType != "Admin" %}
                <tr>
                <td>
                {{i.username}}
                </td>
                <td>
                {{i.accountType}}
                </td>
                </tr>
                {% endif %}
                {% endfor %}
                </table>
            </center>
        </div>
        <center>
        <div id="bot">
                &nbsp;<br>
        <button style="cursor:pointer; "class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4"><a href="/logout">Logout</a></button>
        </div>
        </center>
    </form>
    {% else %}
    <div id="error">
            <center>
                <h1>Unauthorized Access!</h1><br>
                <button onclick="window.history.back()" style="border: 2px solid; padding: 3px;">Go Back</button>
            </center>
    </div>
    {% endif %}
</body>
</html>