<html>
    <head>
        <title>Account Expired</title>
        <style>
                #error {
                    height:100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    background-color: crimson;
                    color: cornsilk;
                }
        </style>
    </head>
    <body>
        <div id="error">
            <center>
            <h1>Your account is expired!</h1><br>
            <h3>You did not log in within 24 hours.</h3>
            <a href="/"><button style="border: 2px solid; padding: 3px;">Home</button></a>
            </center>
        </div>
    </body>
</html>
