<html>

<head>
    <title>Product Management</title>
    <style>
        p,h1,h2 {font-family:"Comic Sans MS", cursive, sans-serif;}
    </style>
</head>

<body>
    <h1>Product Manager Page</h1>

    <div>
        <h2>All Products</h2>

        <button><a href="/prodmanagement/add">Add a new Product</a></button>
        {%for item in all_items%}
        
        <form method="POST">
            {%csrf_token%}
            <div>
                <img src={{item.photo.url}} height="200px" width="200px">
            </div>
            <div>
                <p>{{item.name}}</p>
                <p>{{item.description}}</p>
                <p>{{item.price}}</p>
                <p>{{item.quantity}}</p>
            </div>
            <button><a href="/prodmanagement/edit/{{item.id}}">Edit</a></button>
            <input type="submit" name="delete-{{item.id}}" value="Delete">
        </form>
        {%endfor%}
    </div>
</body>

</html>