<!-- review.html -->
{% load staticfiles %}
<html>
	<head>
		<title>Review</title>
	</head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/themify/themify-icons.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts/elegant-font/html-css/style.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor/lightbox2/css/lightbox.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css' %}">
<!--===============================================================================================-->

<style>
		#error {
			height:100%;
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			background-color: crimson;
			color: cornsilk;
		}
	
		table {
			width: 90%;
		}
	
		td {
			border: black;
			border-style: dotted;
			width: 50%;
			text-align: center;
			padding: 10px;
		}
	
		#yes {
			width: 25%;
			padding: 5px;
		}
	
		#cont {
			align-items: center;
			width: 100%;
			display: flex;
			justify-content: center;
			
		}
	
		#tx {
			border:black;
			border-style: solid;
			border-width: thin;
			padding: 2px;
		}
	
	</style>

	<body>
		{% if loggeduser != 0 %}
		<!-- form -->
		<center>
			<br>
		<h1>Reviewing item: {{item.name}}</h1>
		<br>
		<table>
		<form method="POST">
			{%csrf_token%}
			{%for field in form%}
			<tr>
				<td>{{field.label_tag}}</td>
				<td><div id="tx">{{field}}</div></td>
			</tr>
			{%endfor%}
		</table>
		<br>
			<div id="yes"><input type="submit" value="Save" style="cursor:pointer; "class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4"></div>
		</form>
		<div id="yes">
		<button style="cursor:pointer; "class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4"><a href="/userprofile/{{loggeduser.id}}">Go back</a></button>
		</div>
		</center>
		{% else %}
		<div id="error">
				<center>
					<h1>Unauthorized Access!</h1>
					<a href="/">Go Back to Home</a>
				</center>
		</div>
		{% endif %}
	</body>
</html>